<% provide(:title, "About us") %>
<div class="container">
  <div class ="row">
    <div class="col-md-8 col-md-offset-2 copy">
      <h1>おいしさ、そのまま、いつまでも</h1>
    </div>
  </div>
  <section class="freeze-img">
    <%= image_tag '/images/shirokuma.jpg', class: "freeze-image", alt: "shirokuma-image" %>
  </section>
  <div class="discription">
    <div class="declartion">
      <h3> 美味しい冷凍弁当屋さん </h3>
    </div>
    <div class="para-1">
      <p>かつて、冷凍食品は、「美味しい食べ物」ではなく「便利な食べ物」でした</p>
      <p>そして今、技術の発達により美味しい食べ物になりつつあります</p>
      <p>しかし！それは、あくまで昔の冷凍食品に比べて美味しいということです</p>
      <p>私たちはそれを変えたい</p>
      <p>「冷凍食品なのに美味しい」ではなく「冷凍食品だから美味しい」と言わせたい</p>
    </div>
    <div class="para-2">
      <p>そして私たちが目指すのは味覚のその先です。</p>
      <p>日本だけでも,年間約１７００万トンの食料が廃棄されてしまっています。</p>
      <p>今以上に冷凍食品が、美味しく栄養的であれば、きっと皆さんが口にしていただく機会は増えるはず、</p>
      <p>そして、そうなっていけば、食料廃棄は減っていくはず。</p>
      <p>そして、その先には、今よりもっと住みやすい地球という未来が見えてくる</p>
      <p>そう私たちは信じています。</p>
    </div>
  </div>
</div>
