@import "bootstrap-sprockets";
@import "bootstrap";
hr {
  border-width: 3px ;
  border-color: #F2F2F2 ;
}
.logo{
  color: black ;
}
header h1{
  font-family: 'Lobster', cursive;
  font-size: 50px ;
}
header span{
  font-family: 'Lobster', cursive;
}
.aboutus{
  font-size: 24px;
  margin-top: 40px;
}
.top-wrapper{
  background-image: url("/images/vegetables.jpg");
  height: 400px ;
  background-size: cover ;
  color: #FFF ;
  text-align: center;
  padding-top: 140px;
}
.top-wrapper h1{
  font-size: 50px;
  font-style: oblique;
  font-weight: bold;
}
footer{
  background-color: #808080;
}
footer h4{
  padding: 30px 20px;
  margin-top: 30px ;
  text-align: right ;
}
.freeze-image{
  height: 400px ;
  width: 100% ;
  object-fit: cover;
  margin-top: 30px;
}
.copy{
  text-align: center;
}
.discription{
  text-align: center;
}
.declartion{
  margin-top: 50px;
}
.para-1{
  margin-top: 50px;
}
.para-2{
  margin-top: 50px ;
}
.productBox{
  text-align: center;
}
.product-show-img{
  text-align: center;
}
