<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-9">
        <h1><%= link_to "FreezeDeli", freezedeli_index_path, class: "logo" %></h1>
      </div>
      <div class = "col-sm-3 aboutus">
        <%= link_to freezedeli_about_path  do %>
          <span>FreezeDeli</span>とは？
        <% end %>
      </div>
    </div>
  </header>
</div>
